.cursor-pointer{
    cursor: pointer;
}

.font-size-13 {
    font-size: 13px;
}

.custom-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.testborder {
    border: 2px solid black;
}